$background_color: white
$text_color: black
$link_color: red

$width: 960px

$sans_serif: Lucida Grande, Verdana, sans-serif
$serif: Caslon, "Adobe Caslon Pro", "Times New Roman", serif

html
    background: #ddd
body
    background: $background_color
    font-family: $serif
    margin: 0 auto
    min-height: 100%
    width: $width

a
    color: $link_color
    text-decoration: none
    &:hover
        text-decoration: underline

#nav
    background-color: black
    font-family: $sans_serif
    padding: 20px
    width: $width - 40px
    a
        font-size: 1.5em
        margin-right: 0.25em
    #badge
        float: right
        &:hover
            background-color: transparent

#content
    padding: 20px

.sidebar
    float: left
    padding: 0 20px 20px 0
    width: 100px