html { background: #dddddd; }

body { background: white; font-family: Caslon, "Adobe Caslon Pro", "Times New Roman", serif; margin: 0 auto; min-height: 100%; width: 960px; }

a { color: red; text-decoration: none; }
a:hover { text-decoration: underline; }

#nav { background-color: black; font-family: Lucida Grande, Verdana, sans-serif; padding: 20px; width: 920px; }
#nav a { font-size: 1.5em; margin-right: 0.25em; }
#nav #badge { float: right; }
#nav #badge:hover { background-color: transparent; }

#content { padding: 20px; }

.sidebar { float: left; padding: 0 20px 20px 0; width: 100px; }
