html { background: #dddddd; }

body { background: white; width: 960px; margin: 0 auto; min-height: 100%; }

a { color: red; }
a:hover { color: white; background-color: red; }

#nav { background-color: #cccccc; padding: 0.25em 1em; }
#nav a { font-size: 1.5em; margin-right: 0.25em; }
#nav #mobile { background-image: url(/site_media/static/images/mobile.png); background-position: center top; width: 20px; height: 34px; margin-top: 5px; margin-right: 5px; display: inline-block; float: right; }
