body { background-color: #e6e4dd; background-image: url(/site_media/static/images/background.jpg); background-position: center; padding: 0; margin: 0; width: 100%; height: 100%; font-size: 14px; line-height: 18px; text-rendering: optimizeLegibility; letter-spacing: 0.03em; font-family: 'Droid Serif', Libertine, Constantia, 'Times New Roman', serif; }

a { text-decoration: none; color: #c1272d; }
a:hover { background-color: #c1272d; color: white; padding: 0 0.2em; margin: 0 -0.2em; -webkit-border-radius: 3px; -moz-border-radius: 3px; }

img { border: none; }

h1, h2, h3 { font-family: 'Droid Sans', Corbel, 'Trebuchet MS', sans-serif; }

h3 { margin-top: 0; padding-top: 0; }

#banner { -moz-box-shadow: #000 0 2px 6px 0; -webkit-box-shadow: #000 0 2px 6px 0; -o-box-shadow: #000 0 2px 6px 0; box-shadow: #000 0 2px 6px 0; background-color: #750000; width: 100%; height: 18em; margin: 0; font-family: 'Droid Sans', Corbel, 'Trebuchet MS', sans-serif; }
#banner h1 { font-size: 1px; color: transparent; background-image: url(/site_media/static/images/ends_odds.png); width: 642px; height: 227px; margin: 0; }
#banner #index-nav { margin: 0 auto; width: 744px; position: relative; -moz-box-shadow: none; -webkit-box-shadow: none; }
#banner #index-nav a { display: block; font-size: 30px; font-weight: bold; position: absolute; left: 640px; color: white; padding: 0; margin: 0; text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8); }
#banner #index-nav a:hover { text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.8); background-color: transparent; color: white; padding: 0; margin: 0; -webkit-border-radius: 0px; -moz-border-radius: 0px; }
#banner #index-nav #strands { top: 122px; }
#banner #index-nav #about { top: 154px; }

#teaser { text-shadow: rgba(100, 100, 100, 0.1) 0px 1px 0px; -moz-box-shadow: #333333 0px 0px 4px 0; -webkit-box-shadow: #333333 0px 0px 4px 0; -o-box-shadow: #333333 0px 0px 4px 0; box-shadow: #333333 0px 0px 4px 0; width: 760px; margin: 80px auto -415px; padding: 350px 20px 30px 30px; background-color: white; font-family: 'Droid Serif', Libertine, Constantia, 'Times New Roman', serif; }
#teaser #tagline, #teaser #byline { color: #7d7d7d; }
#teaser #title { font-size: 26px; text-align: right; display: inline-block; line-height: 26px; }
#teaser #tagline { font-style: italic; font-size: 16px; width: 390px; }
#teaser #byline { vertical-align: top; font-size: 14px; text-align: right; width: 200px; display: inline-block; }
#teaser #byline a { font-variant: small-caps; font-size: 1.2em; margin-bottom: 0.1em; }
#teaser #blurb { padding-left: 5px; font-size: 14px; width: 540px; display: inline-block; }
#teaser #blurb a { font-variant: small-caps; float: right; }

#content { text-shadow: rgba(100, 100, 100, 0.1) 0px 1px 0px; -moz-box-shadow: #333333 0px 0px 4px 0; -webkit-box-shadow: #333333 0px 0px 4px 0; -o-box-shadow: #333333 0px 0px 4px 0; box-shadow: #333333 0px 0px 4px 0; width: 960px; background-color: white; margin: -36px auto 36px auto; padding: 108px 24px 24px 24px; position: relative; min-height: 300px; overflow: hidden; }

#nav-banner { -moz-box-shadow: #000 0 2px 6px 0; -webkit-box-shadow: #000 0 2px 6px 0; -o-box-shadow: #000 0 2px 6px 0; box-shadow: #000 0 2px 6px 0; position: absolute; top: 0px; width: 100%; background-color: #750000; height: 48px; min-width: 1008px; }

#nav { width: 1008px; margin: 0 auto; z-index: 3; font-family: 'Droid Sans', Corbel, 'Trebuchet MS', sans-serif; font-variant: small-caps; }
#nav a { display: inline-block; font-size: 24px; font-weight: bold; color: white; text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8); margin: 4px; vertical-align: middle; }
#nav a:hover { text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.8); background-color: transparent; color: white; padding: 0; margin: 4px; -webkit-border-radius: 0px; -moz-border-radius: 0px; }
#nav #button-manage, #nav #button-profile, #nav #badge, #nav #mobile { float: right; }
#nav #button-manage, #nav #button-profile { margin-top: 12px; }
#nav #badge { margin-top: 8px; margin-right: 5px; }
#nav #ampersand { background-image: url(/site_media/static/images/ampersand.png); background-position: center top; width: 42px; height: 38px; margin-left: 20px; }
#nav #ampersand:hover { background-position: center bottom; }
#nav #mobile { background-image: url(/site_media/static/images/mobile.png); background-position: center top; width: 20px; height: 34px; margin-top: 5px; margin-right: 5px; }
#nav #mobile:hover { background-position: center bottom; }

#twitter_update_list { list-style: disc; padding-left: 1em; }

.sidebar { -moz-box-shadow: #333333 0px 0px 4px 0; -webkit-box-shadow: #333333 0px 0px 4px 0; -o-box-shadow: #333333 0px 0px 4px 0; box-shadow: #333333 0px 0px 4px 0; -moz-border-radius-bottomleft: 8px; -webkit-border-bottom-left-radius: 8px; -o-border-bottom-left-radius: 8px; -ms-border-bottom-left-radius: 8px; -khtml-border-bottom-left-radius: 8px; border-bottom-left-radius: 8px; -moz-border-radius-bottomright: 8px; -webkit-border-bottom-right-radius: 8px; -o-border-bottom-right-radius: 8px; -ms-border-bottom-right-radius: 8px; -khtml-border-bottom-right-radius: 8px; border-bottom-right-radius: 8px; top: 84px; font-family: "Droid Serif"; position: absolute; min-width: 26px; min-height: 26px; max-width: 256px; visibility: hidden; border: 1px solid black; border-top: none; background-color: rgba(0, 0, 0, 0.6); background-position: center; background-repeat: no-repeat; color: white; padding: 8px; }
.sidebar:hover { background-color: rgba(0, 0, 0, 0.8); background-image: none; z-index: 1; }
.sidebar a { color: red; }
.sidebar a:hover { color: white; }

#info { left: 24px; }

#share { left: 80px; }

#attachment { left: 136px; }

#info { background-image: url(/site_media/static/images/sidebar-info.png); }
#info:hover { background-image: none; }

#share { background-image: url(/site_media/static/images/sidebar-share.png); }
#share:hover { background-image: none; }

#attachment { background-image: url(/site_media/static/images/sidebar-attachment.png); }
#attachment:hover { background-image: none; }

.author-location { float: right; margin-top: 1.25em; font-style: italic; }

.author-name { display: inline-block; }

.author-image { float: right; width: 468px; height: 304px; margin-left: 24px; }

.author-bio { height: 304px; }

.author-knot-list { display: block; padding: 12px 0; margin: 12px 0; border-top: 1px solid #cccccc; color: #7d7d7d; }
.author-knot-list li { line-height: 1.1em; padding: 0; margin: 0 0 24px 0; display: block; }
.author-knot-list li h3 { padding-top: 0; margin-bottom: 10px; }
.author-knot-list .meta { width: 304px; display: inline-block; margin-right: 24px; }
.author-knot-list .tagline { font-style: italic; font-size: 16px; line-height: 18px; display: block; color: #b0b0b0; }
.author-knot-list .byline { vertical-align: top; font-size: 14px; line-height: 16px; text-align: left; margin: 0 auto; padding: 0; display: block; color: #b0b0b0; }
.author-knot-list .byline a { font-variant: small-caps; font-size: 1.2em; margin-bottom: 0.1em; }
.author-knot-list .blurb { font-size: 14px; width: 608px; line-height: 16px; display: inline-block; margin: 0; text-align: left; }
.author-knot-list .blurb a { font-variant: small-caps; float: right; }

.knot-list { margin-bottom: 20px; }

#knots-info { -moz-box-shadow: #333333 0px 0px 4px 0; -webkit-box-shadow: #333333 0px 0px 4px 0; -o-box-shadow: #333333 0px 0px 4px 0; box-shadow: #333333 0px 0px 4px 0; -moz-border-radius: 8px; -webkit-border-radius: 8px; -o-border-radius: 8px; -ms-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; display: none; position: absolute; width: 300px; background: rgba(0, 0, 0, 0.8); border: 1px solid black; padding: 10px; color: white; z-index: 99; }

.small-spinner { width: 16px; }

.status { font-weight: bold; padding-left: 10px; }

#author-profile { display: inline-block; width: 470px; }
#author-profile td { vertical-align: top; }
#author-profile input, #author-profile textarea { width: 200px; }
#author-profile textarea { height: 200px; }
#author-profile .help-text { font-size: 0.8em; color: #999999; }

#author-image-location { display: inline-block; width: 470px; }
#author-image-location input { width: 200px; }
#author-image-location #map-canvas { -moz-box-shadow: #333333 0px 0px 4px 0; -webkit-box-shadow: #333333 0px 0px 4px 0; -o-box-shadow: #333333 0px 0px 4px 0; box-shadow: #333333 0px 0px 4px 0; float: right; width: 200px; height: 200px; }
#author-image-location #current-author-image { -moz-box-shadow: #333333 0px 0px 4px 0; -webkit-box-shadow: #333333 0px 0px 4px 0; -o-box-shadow: #333333 0px 0px 4px 0; box-shadow: #333333 0px 0px 4px 0; }

#author-location { padding-top: 1em; margin-top: 1em; border-top: 1px solid #cccccc; }

.loc-data { display: block; }
