{% extends "base.django.html" %}

{% block head_title %}Author&nbsp;&#8226;&nbsp;{{ author.first_name|capfirst }}{% endblock %}

{% block body %}
    <div class="content-header">
        <span class="content-title">{%if author.first_name %}{{ author.first_name|capfirst }}{%if author.last_name %} {{ author.last_name|capfirst }}{% endif %}{% else %}{{ author }}{% endif %}'s Knots</span>
    </div>
    <div class="content-container">
        <div class="knot-list">
            <table>
                <thead class="list-head">
                    <tr>
                        <th><a href="/author/{{ author }}/{{ oti }}title">Title &#91;&plusmn;&#93;</a></th>
                        <th><a href="/author/{{ author }}/{{ osa }}strand_a">Strand A &#91;&plusmn;&#93;</a></th>
                        <th><a href="/author/{{ author }}/{{ osb }}strand_b">Strand B &#91;&plusmn;&#93;</a></th>
                        <th><a href="/author/{{ author }}/{{ oda }}date">Date &#91;&plusmn;&#93;</a></th>
                    </tr>
                </thead>
                <tbody>
                    {% for knot in knots %}
                    <tr>
                        <td><a href="/knot/{{ knot.slug }}/"><strong>{{ knot.title }}</strong></a></td>
                        <td><a href="/strands/{{ knot.strand_a.slug }}">{{ knot.strand_a }}</a></td>
                        <td><a href="/strands/{{ knot.strand_b.slug }}">{{ knot.strand_b }}</a></td>
                        <td>{{ knot.date|date:"j M Y" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}