<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}STRANDS:&nbsp;to read and such.</title>

        {% if request.session.is_mobile %}
            <link rel="stylesheet" href="{{ STATIC_URL }}css/mobile.css" type="text/css" media="screen" />
            <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=2;">
            <link rel="apple-touch-icon" href="{{ STATIC_URL }}images/ampersand.png"/>
        {% else %}
            <link rel="stylesheet" href="{{ STATIC_URL }}css/screen.css" type="text/css" media="screen, projection" />
        {% endif %}
        {#<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url feed 'ends-and-odds.rss' %}">#}
        <link rel="icon" href="{{ STATIC_URL }}images/favicon.png" type="image/png"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
        {% block extra_head %}
        {% endblock %}
    </head>
    
    <body>
        {% block body%}
        {% endblock %}
        {% block extra_body %}
        {% endblock %}
        {% if request.session.is_mobile %}
            <script type="text/javascript">
                $(document).ready(function() {
                    window.scroll(0,1);
                });
            </script>
        {% endif %}
    </body>
</html>