{% extends "base.django.html" %}

{% block head_title %}Main{% endblock %}

{% block body %}
{% for knot in latest_knots %}
    <div class="content-header">
        <div class="content-header-left"><span class="content-title">{{ knot.title|capfirst }}</span> &#8226; <a href="/strands/{{ knot.strand_a.name }}/">{{ knot.strand_a }}</a> &#8226; <a href="/strands/{{ knot.strand_b.name }}/">{{ knot.strand_b }}</a></div>
        <div class="content-header-right"><a href="/author/{{ knot.author }}">{{ knot.author.first_name|capfirst }}</a> &#8226; {{ knot.date|date:"j M Y" }}</div>
    </div>
    
    <div class="content-container">
        {{ knot.body|linebreaks|truncatewords_html:100 }}
        <p>
            <a href="/knot/{{ knot.slug }}/">More&#8230;</a>
        </p>
    </div>
    {% endfor %}
{% endblock %}