{% extends "base.django.html" %}

{% block head_title %}Knot&nbsp;&#8226;&nbsp;{{ knot.title }}{% endblock %}

{% block body %}
    <div class="content-header">
        <div class="content-header-left"><span class="content-title">{{ knot.title|capfirst }}</span> &#8226; <a href="/strands/{{ knot.strand_a.slug }}/">{{ knot.strand_a }}</a> &#8226; <a href="/strands/{{ knot.strand_b.slug }}/">{{ knot.strand_b }}</a></div>
        <div class="content-header-right"><a href="/author/{{ knot.author }}">{% if knot.author.first_name %}{{ knot.author.first_name|capfirst }}{% else %}{{ knot.author }}{% endif %}</a> &#8226; {{ knot.date|date:"j M Y" }}</div>
    </div>
    
    <div class="content-container">
        {{ knot.body|linebreaks }}
    </div>
{% endblock %}